<h1 class="h-center">Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= link_to group_path(group), class: 'mobutu' do %>
    <div class="group-item">
      <div class="group-img">
        <%= image_tag group.image, class: 'img' %>
      </div>
      <div class="group-name">
        <p class="txt one"><%= group.name%></p>    
        <p class="txt two">Purchases:<%= group.purchases.count %> </p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New group", new_group_path, class: 'back' %>
