<h1 class="h-center">Categories</h1>

<% @mon = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'] %>

<div id="groups">
  <% @groups.each do |group| %>
    <button class="group-btn"> <%= link_to group_path(group), class: 'mobutu' do %>
      <div class="group-item">
        <div class="group-img">
          <%= image_tag group.image, class: 'img' %>
        </div>
        <div class="group-name">
          <div class="troon">
            <p class="txt one"><%= group.name%></p>
            <p class="txt two">$ <%= group.purchases.sum('amount') %> </p>
          </div>
          <% @date = group.updated_at %>
          <p class="updated"> <%= @date.day %>  <%= @mon[@date.month] %> <%= @date.year %> </p>
        </div>
      </div>
      <% end %>
    </button>
  <% end %>
</div>

<button class="btn-1">  <%= link_to "New", new_group_path, class: 'back8' %> </button>
