<% total_amount = @group.purchases %>
<% total = 0 %>
<% total_amount.each do |item| %>
  <% total += item.amount %>
<% end %>

<div class="group-head" >
  <h1 class="name-hh"> <%= @group.name %> </h1>
  <h1> $<%= total %> </h1>
</div>

<%= render @group.purchases.includes(image_attachment: :blob).order(:created_at).reverse_order.limit(5) %>

<div class="back-link">
  <% link_to "Edit this group", edit_group_path(@group) %> 
  
  <%= link_to "Back", groups_path, class: 'back' %>

  <% button_to "Destroy this group", @group, method: :delete %>
  <%= link_to "New purchase", new_purchase_path, class: 'back' %>
</div>
