<div class="group-head" >
  <h1 class="name-hh"> <%= @group.name %> </h1>
  <h1> $<%= @group.purchases.sum('amount') %> </h1>
</div>

<%= render @group.purchases.includes(image_attachment: :blob).order(:created_at).reverse_order.limit(5) %>

<div>
  <% link_to "Edit this group", edit_group_path(@group) %> 
  
  

  <% button_to "Destroy this group", @group, method: :delete %>
  
</div>

<button class="btn-1"> <%= link_to "Purchase", new_purchase_path, class: 'back8' %></button>

<button class="btn-1"> <%= link_to "Back", groups_path, class: 'back8' %> </button>


